html body {
    background-color: #dfe3ee;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

.cover {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-bar {
    position: relative;
    height: 42px;
    width: 100%;
    background-color: #3b5998;
    margin-bottom: 12px;
}

.nav-bar .segment-1 {
    width: 1146px;
    height: 42px;
    margin: 0 0 0 66px;
    padding: 0 205px 0 0;
    display: flex;
    align-items: center;
}

.nav-bar .segment-1 .fa-facebook-square {
    color: #fff;
    margin: 0 8px 0 0;
    font-size: 29px;
    cursor: pointer;
}

.nav-bar .segment-1 .search {
    width: 629px;
    display: flex;
    align-items: center;
}

.nav-bar .segment-1 .text-search {
    width: 393px;
    height: 20px;
    padding-top: 2px;
    padding-left: 5px;
    border-radius: 2px 0px 0px 2px;
    border: 0px;
    resize: none;
}

.nav-bar .segment-1 .search-button {
    border-radius: 0px 2px 2px 0px;
    border: 0px;
    width: 46px;
    height: 24px;
    color: #34495e;
    background-color: #ecf0f1;
    justify-content: center;
}

.nav-bar .segment-1 .profile {
    width: 91px;
    height: 27px;
    padding: 0 10px 0 0;
}

.nav-bar .segment-1 .profile:hover {
    background-color: #324b81;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.nav-bar .segment-1 .profile .profile-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-bar .segment-1 .profile .profile-pic-image {
    width: 24px;
    height: 24px;
    border-radius: 1px;
}

.nav-bar .segment-1 .profile .profile-text {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin: 0 0 0 5px;
    padding: 3px 0 0 0;
}

.nav-bar .segment-1 .separator {
    font-size: 27px;
    color: #324b81;
    margin: 2px 0 8px 0;
}

.nav-bar .segment-1 .home {
    width: 50px;
    height: 27px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

.nav-bar .segment-1 .home:hover {
    background-color: #324b81;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.home .home-link:hover {
    text-decoration: none;
}

.home .home-text {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    float: left;
}

.nav-bar .segment-1 .status-icons {
    width: 99px;
    height: 42px;
    padding: 0 9px 0 9px;
    display: flex;
    align-items: center;
}

.nav-bar .segment-1 .status-icons .friend-request {
    width: 33px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-icons .friend-request .friend-request-link {
    text-decoration: none;
    color: #000000;
}

.friend-request-icon {
    font-size: 20px;
    cursor: pointer;
}

.friend-request-icon.active {
    color: #ffffff;
}

.nav-bar .segment-1 .status-icons .messages {
    width: 33px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-icons  .messages .messages-link{
    text-decoration: none;
    color: #000000;
}

.messages-icon {
    font-size: 20px;
    padding: 0 3px 0 3px;
    cursor: pointer;
}

.messages-icon.active {
    color: #ffffff;
}

.nav-bar .segment-1 .status-icons .notifications {
    width: 33px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-icons .notifications .notifications-link {
    text-decoration: none;
    color: #000000;
}

.notifications-icon {
    font-size: 20px;
    padding: 0 3px 0 3px;
    cursor: pointer;
}

.notifications-icon.active {
    color: #ffffff;
}

.nav-bar .segment-1 .setting-icons {
    width: 46px;
    height: 42px;
    padding: 0 0 0 9px;
    display: flex;
    align-items: center;
}

.setting-icons .lock {
    width: 29px;
    height: 42px;
    display: flex;
    align-items: center;
}

.setting-icons .lock-icon {
    font-size: 16px;
    cursor: pointer;
}

.setting-icons .lock-icon.active {
    color: #ffffff;
}

.setting-icons .dropdown {
    width: 29px;
    height: 42px;
    display: flex;
    align-items: center;
}

.setting-icons .dropdown-icon {
    font-size: 16px;
    cursor: pointer;
}

.dropdown-icon.active {
    color: #ffffff;
}

.container-body {
    margin: 0 0 0 66px;
}

.container-body .left-panel {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.container-body .item {
    width: 172px;
    height: 16px;
    padding: 4px 6px 4px 6px;
    clear: both;
    float: left;
}

.container-body .item:hover {
    background-color: #cdd4e5;
    border-radius: 2px;
}

.left-panel .profile-info-link:hover {
    text-decoration: none;
}

.left-panel .profile-info-link .view-profile-image {
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 6px 0 0;
}

.left-panel .profile-info-link .view-profile-text {
    font-size: 12px;
    float: left;
}

.profile-info .edit-profile-link:hover {
    text-decoration: none;
}

.left-panel .edit-profile-link .fa-pencil {
    float: left;
    margin: 0 8px 0 0;
}

.left-panel .edit-profile-link .edit-profile-text {
    font-size: 12px;
    float: left;
}

.container-body .news-feed {
    padding: 0 0 0 12px;
    z-index: 1000;
}

.container-body .news-feed .post {
    position: absolute;
    top: 54px;
    left: 261px;
    background-color: #ffffff;
    width: 500px;
    height: 163px;
    border: 1px;
    margin: 0 0 10px 11px;
    float: left;
    z-index: 1000;
}

.news-feed .post .top-panel {
    width: 476px;
    height: 18px;
    padding: 10px 0 8px 0;
    margin: 0 12px 0 8px;
    display: flex;
    align-items: center;
}

.photo-link {
    text-decoration: none;
    color: #3b5998;
}

.post .top-panel .photo {
    display: inline;
    width: 100px;
    height: 18px;
    padding: 4px 0 4px 4px;
    margin: 0 2px 0 0;
}

.post .top-panel .photo:hover {
    background-color: #eef1f6;
}

.fa-camera-retro {
    color: #95a5a6;
}

.post .top-panel .panel-text {
    font-size: 12px;
    font-weight: bold;
}

.separator-post {
    color: #bdc3c7;
}

.album-link {
    text-decoration: none;
    color: #3b5998;
}

.post .top-panel .album {
    display: inline;
    width: 141px;
    height: 18px;
    padding: 4px 0 4px 4px;
    margin: 0 0 0 2px;
}

.post .top-panel .album:hover {
    background-color: #eef1f6;
}

.fa-id-card-o {
    color: #324b81;
}

.divider {
    color: #ecf0f1;
    width: 476px;
    margin: auto;
}

.post .post-status {
    width: 500px;
    height: 75px;
    display: flex;
    align-items: center;
}

.post .post-status .post-profile-image {
    width: 40px;
    height: 40px;
    margin: 0 0 0 12px;
}

.post .post-status .status-text {
    width: 400px;
    height: 43px;
    margin: 12px 0 0 0;
    padding: 18px 12px 14px 12px;
    border: 0px;
    resize: none;
}

.divider-full {
    color: #ecf0f1;
    width: 500px;
    margin: 8px 0 0 0;
}

.post .add-friend {
    width: 40px;
    height: 40px;
    float: left;
}

.post .add-friend-link {
    display: flex;
    align-items: center;
    justify-content:center;
    color: #95a5a6;
    margin-top: 10px;
    text-decoration: none;
}

.post .add-friend:hover {
    background-color: #d8dfea;
}

.post .add-friend-link:hover {
    text-decoration: none;
}

.post .add-emotion {
    width: 40px;
    height: 40px;
    float: left;
}

.post .add-emotion-link {
    display: flex;
    align-items: center;
    justify-content:center;
    color: #95a5a6;
    margin-top: 10px;
    text-decoration: none;
}

.post .add-emotion:hover {
    background-color: #d8dfea;
}

.post .add-emotion-link:hover {
    text-decoration: none;
}

.post .add-location {
    width: 40px;
    height: 40px;
    float: left;
}

.post .add-location-link {
    display: flex;
    align-items: center;
    justify-content:center;
    color: #95a5a6;
    margin-top: 10px;
    text-decoration: none;
}

.post .add-location:hover {
    background-color: #d8dfea;
}

.post .add-location-link:hover {
    text-decoration: none;
}

.post .add-buttons .view {
    color: #3c4344;
    margin: 7px 0 0 0;
    padding: 1px 1px 1px 6px;
    background-color: #d8dfea;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    height: 25px;
}

.view-icon {
    display: inline;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu-item-top {
    height: 15px;
    background-color: #fff;
    width: 200px;
    float: right;
    clear: both;
    text-decoration: none;
    font-weight: bold;
    padding: 1px;
    border-bottom: 1px solid #ffffff;	
    font-size: 12px;
    color: #8c8c8c;
    display: flex;
    align-items: center;
}

.dropdown-menu-item {
    height: 30px;
    background-color: #ecf0f1;
    width: 200px;
    float: right;
    clear: both;
    text-decoration: none;
    padding: 1px;
    border-bottom: 1px solid #ffffff;	
    margin-left: 4px;
    font-size: 12px;
    color: #000000;
    display: flex;
    align-items: center;
}

.dropdown-menu-item:hover {
    background-color: #3b5998;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.add-buttons .view:hover {
    text-decoration: none;
}

.add-buttons .view-profile-text {
    font-size: 12px;
    margin: 0 4px 0 4px;
}

.add-buttons .fa-caret-down {
    margin: 6px 8px 0 0;
}

.add-buttons .post-button {
    background-color: #3b5998;
    border-radius: 1px;
    margin: 7px 10px 0 10px;
    border: 1px solid #3b5998;
    width: 54px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

.add-buttons .post-button .post-button-text {
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
}

.container-body .chat {
    width: 205px;
    height: 100vh;
    float: right;
    border-left: 1px solid;
}
